.idea/
.gradle/
local.properties
**/build/
**/.dart_tool/
**/.flutter-plugins*
**/.packages
**/coverage/
**/google-services.json
flutter/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Aplicaciones listas/
